<div class="page-list">
    <% page.posts.forEach(post=> { %>
        <div class="page-list-item">
            <div class="page-list-item-excerpt">
                <p>
                    <%- post.content %>
                </p>
            </div>
			<div class="page-list-item-create-date">
                <span>
                    发表于：<%= date(post.date,"YYYY-MM-DD HH:mm:ss") %>
                </span>
			</div>
        </div>
        <% }) %>
</div>