.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-right{
        display: flex;
    }
    &-menu-wrapper{
        .header-menu{
            list-style: none;
            display: flex;  
            align-items: center;
            margin: 0 -16px;
            &-item{
                padding: 0 8px;
            }
        }
    }
}