.pagination{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;

    &-prev,&-next{
        width: 24px;
        height: 24px;
        background-size: contain;
        a{

            width: 24px;
            height: 24px; 
            display: inline-block;
        }
    }
    &-content{
        text-align: center;
    }
}