<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partials/head') %>
<body >
    <div class="body">
        <%- partial('_partials/header') %> 
    
        <%- partial('_partials/content') %> 
    
        <%- partial('_partials/footer') %> 
    </div>
</body>
</html>